<div class="line">
    <h1>bradenNicholson</h1>
    <div class="block">&nbsp;</div>
</div>
<!-- If you are wondering, the blinking cursor after my name implies that the name was just written into an editor. There is still more to type.
It is symbolic. It means that although I have published my work here, by no means does that mean I have finished learning.
-->
<span class="muted">Software Engineer in California</span>

